body {
  font-family: "Arial", "Meiryo", sans-serif;
}
rem {
  font-size: 20px;
}
.pink {
  color: rgb(255, 192, 203);
}
.blue {
  color: skyblue;
}
h1 {
  font-family: "Josefin Sans", sans-serif;

  font-size: 40px;

  border-bottom: solid 3px rgb(115, 115, 114);

  text-shadow: 1px 1px 2px gray;

  letter-spacing: 1.2em;
}

body {
  text-align: center;
}
#basic > p {
  font-weight: bold;
}


